/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
.header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}
.header-container {
  width: 1170px;
  margin: 0 auto;
}
.header-left {
  float: left;
}
.header-logo {
  width: 124px;
  margin-top: 20px;
}
.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}
.header-login {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  background-size: cover;
  color: white;
  text-align: center;
}
.top-container {
  width: 1170px;
  margin: 0 auto;
}
.top-btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}
.top-btn.signup {
  background-color: #239b76;
  margin-top: 15px;
  margin-bottom: 15px;
}
.top-btn.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}
.top-btn.twitter {
  background-color: #55acee;
}
.fa {
  margin-right: 5px;
}
.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}
.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 15px;
}

.contents {
  height: 580px;
  background-color: #f7f7f7;
  text-align: center;
}
.contents-inner {
  width: 1170px;
  margin: 0 auto;
}
.contents-heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}
.contents-item {
  float: left;
  width: 25%;
}
.contents-item-inner {
  position: relative;
}
.contents-title {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}
.contents-text {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

.message {
  padding-bottom: 80px;
  text-align: center;
}
.message-inner {
  width: 1170px;
  margin: 0 auto;
}
.message-heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}
.message-heading-h2 {
  font-weight: normal;
}
.message-btn {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}
.message-btn:hover {
  opacity: 1;
}
.message-btn:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.footer {
  padding: 30px 0;
  border-top: 1px solid #eee;
}
.footer-inner {
  width: 1170px;
  margin: 0 auto;
}
.footer-img {
  width: 124px;
}
.footer-text {
  color: #b3aeb5;
  font-size: 12px;
}
